In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.tail(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#creating new column profit for further calculations
data['profit']=data['revenue']-data['budget']
#function for trnslation string values into list values
def stringtolist(string):
    result=string.str.split('|')
    return result
#for example
data['genrelist']=stringtolist(data['genres'])
data['directorlist']=stringtolist(data['director'])
data['castlist']=stringtolist(data['cast'])
data['production_companies_list']=stringtolist(data['production_companies'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']==data.budget.max()]
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [88]:
# можно добавлять разные варианты решения
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals'

In [8]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Turner Pictures, Antietam Filmworks]"

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Walt Disney Pictures, Walt Disney Animation S..."

In [10]:
answers['3'] = '768. Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
data.runtime.mean()
answers['4'] = '109.658'

# 5. Каково медианное значение длительности фильмов?

In [12]:
#data.describe().runtime['50%'] или можно использовать как фильтр от созданного вначале датафрейма
data.runtime.median()
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit']=data['revenue']-data['budget']
data[data.profit==data.profit.max()]
answers['6'] = '239. Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
data[data.profit==data.profit.min()]
answers['7'] = '1245. The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
data[data.profit>0].count()
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
max_revenue=data[(data['release_year']==2008)].revenue.max()
data[data.revenue==max_revenue]
answers['9'] = '599. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '1245. The Lone Ranger'
min_profit_value=data[(data['release_year']<=2014)&(data['release_year']>=2012)].profit.min()
data[data.profit==min_profit_value]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.genres.value_counts()
answers['11'] = 'Comedy'

ВАРИАНТ 2

In [19]:
data.groupby(['genres']).count()[254:255]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
genres,,,,,,,,,,,,,,,,,,
Comedy,141,141,141,141,141,141,141,141,141,141,141,141,141,141,141,141,141,141

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Comedy'
data.groupby(['genres'])['profit'].sum().sort_values(ascending=False)

genres
Comedy                                       9017827476
Adventure|Fantasy|Action                     5867942514
Comedy|Romance                               5522358585
Drama                                        5178675274
Adventure|Fantasy|Family                     4575626907
                                                ...
Thriller|Science Fiction|Adventure|Action     -74010360
Thriller|Crime|Mystery                        -77087409
Adventure|Animation|Action|Comedy|Family     -102268269
Western|History|War                          -119180039
Action|Adventure|Western                     -165710090
Name: profit, Length: 652, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = 'Peter Jackson'
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez'
data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [13]:
data_copy=data.copy()
answers['15'] = 'Chris Hemsworth'
data_copy[(data_copy['release_year']==2012)].explode('castlist').groupby(['castlist'])['revenue'].sum().sort_values(ascending=False)

castlist
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [7]:
answers['16']='Matt Damon'
data[data.budget>data.budget.mean()].castlist.explode('castlist').value_counts().idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17']='Action'
data_tmp=data_copy.explode('castlist').explode('genrelist')#раскрыли список актеров и жанров
#отфильтровали фильмы где снимался актер и посчитали жанры фильмов
data_tmp.loc[data_tmp['castlist'].isin(['Nicolas Cage'])]['genrelist'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genrelist, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18']='925. K-19: The Widowmaker'
#раскрыл лист команий производителей фильмов
data_tmp=data.explode('production_companies_list')
#отфильтровал по нужной компании
data_tmp2=data_tmp.loc[data_tmp['production_companies_list'].isin(['Paramount Pictures'])]
#нашел строку с минимальным значением прибыли
data_tmp2[data_tmp2.profit==data_tmp2.profit.min()]
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Action, Adventure, Science Fiction, Thriller]",[Colin Trevorrow],"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Universal Studios, Amblin Entertainment, Lege..."
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,"[Action, Adventure, Science Fiction, Thriller]",[George Miller],"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Village Roadshow Pictures, Kennedy Miller Pro..."
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,"[Adventure, Science Fiction, Thriller]",[Robert Schwentke],"[Shailene Woodley, Theo James, Kate Winslet, A...","[Summit Entertainment, Mandeville Films, Red W..."
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,"[Action, Adventure, Science Fiction, Fantasy]",[J.J. Abrams],"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Lucasfilm, Truenorth Productions, Bad Robot]"
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,"[Action, Crime, Thriller]",[James Wan],"[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Universal Pictures, Original Film, Media Righ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717,"[Adventure, Action, Science Fiction]",[Bryan Singer],"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...","[Twentieth Century Fox Film Corporation, Donne..."
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012,"[Horror, Family, Foreign]",[Uli Edel],"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[New Line Cinema]
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180,"[Adventure, Animation, Action, Comedy, Family]",[Des McAnuff],"[Rene Russo, Jason Alexander, Piper Perabo, Ra...","[Universal Pictures, Capella International, KC..."
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091,"[Comedy, Drama]",[Diane Keaton],"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...","[Laurence Mark Productions, Columbia Pictures ..."
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502,[Thriller],[Mary Lambert],"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Warner Bros. Pictures]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
#сложил кассовые сборы за каждый год и упорядочил по убыванию прибыли
answers['19'] = '2015'
data_copy.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
answers['20'] = '2014'
#раскрыл лист команий производителей фильмов
data_tmp=data.explode('production_companies_list')
#отфильтровал по группу компаний изходя из общих букв в названии
data_tmp2=data_tmp[data_tmp.production_companies_list.str.contains("Warner Bros",na=False)]
#нашел максимальное значение прибыли в получившейся таблице
data_tmp2.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [22]:
answers['21'] = 'September'
#создал список чисел из даты чтобы выделить число месяца
data['release_month_list']= data['release_date'].str.split('/')
#создал пустой Series чтобы заолнить в него числа месяца
data_teset=pd.Series([],dtype='float64')

#С помощью цикла заполняем наш Series из колонки датафрейма созданной в предыдущем шаге
for i in range(0,1889):
    data_teset[i]=data['release_month_list'].loc[i][0]
data_with_month=pd.concat([data_copy, data_teset], axis=1)# Добавляем полченные данные к датафрейму
#меняем имя добавленной колонки в новом датафрейме
data2=data_with_month.rename(columns = {0:'release_month'},inplace=False)
#сортируем по месяцам кол-во фильмов 
film_sum=data2.groupby(['release_month'])['original_title'].count().sort_values(ascending=False)
film_sum

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22']='450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = 'Peter Jakson'
data2_tmp=data2.explode('directorlist')
#создал сводную таблицу по количеству выпущенных фильмов за зимние месяцы по режиссерам
data2_pivot = data2_tmp.loc[data2_tmp['release_month'].isin(['1','2','12'])].pivot_table(values=['original_title'],
                                                                                         index=['release_month'],
                                                                                         columns=['directorlist'],
                                                                                         aggfunc='count')
#суммировал и отсортировал
data2_pivot.sum().sort_values(ascending=False)

                directorlist
original_title  Peter Jackson            7.0
                Steven Soderbergh        6.0
                Clint Eastwood           6.0
                Martin Scorsese          4.0
                Adam Shankman            4.0
                                        ...
                Matt Bettinelli-Olpin    1.0
                Matt Reeves              1.0
                Matthew O'Callaghan      1.0
                Matthew Vaughn           1.0
                Jon Avnet                1.0
Length: 358, dtype: float64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = 'Four By Two Productions'
# создадим столбец с длиной названия
data['title_length'] = data['original_title'].map(lambda x: len(x))

companies = data['production_companies_list'].explode().unique() # получим список уникальных названий компаний

sum_gen = pd.Series(dtype='float64', index=companies) # создадим серию для хранения средних значений

# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies_list'].map(lambda x: True if comp in x else False)].mean()

# получим топ-5
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = 'Midnight Picture Show'
# создадим столбец с длиной описания фильмов
data['overview_list'] = data['overview'].str.split()
data['overview_length']=data['overview_list'].map(lambda x: len(x))

companies = data['production_companies_list'].explode().unique() # получим список уникальных названий компаний

sum_gen2 = pd.Series(dtype='float64', index=companies) # создадим серию для хранения средних значений

# по всему датафрейму для каждой из компаний вычислим среднее значение для всех описаний фильмов созданных компанией
for comp in companies:
    sum_gen2[comp] = data['overview_length'][data['production_companies_list'].map(lambda x: True if comp in x else False)].mean()

# получим топ-5
sum_gen2.sort_values(ascending=False).head()

Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = 'The Dark Knight, Inside Out, Interstellar and other 11 movies'
#сортировал список фильмов с максимальным рейтингом, первые 14 фильмов попадают в 1% лучших
best_movies=data.loc[data['vote_average'].isin(['8.1','8.0','7.9'])].groupby(['original_title'])['vote_average'].unique()
best_movies

original_title
12 Years a Slave                                 [7.9]
Gone Girl                                        [7.9]
Guardians of the Galaxy                          [7.9]
Inception                                        [7.9]
Inside Out                                       [8.0]
Interstellar                                     [8.0]
Memento                                          [7.9]
Room                                             [8.0]
The Dark Knight                                  [8.1]
The Grand Budapest Hotel                         [7.9]
The Imitation Game                               [8.0]
The Lord of the Rings: The Return of the King    [7.9]
The Pianist                                      [7.9]
The Wolf of Wall Street                          [7.9]
Name: vote_average, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [40]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint, Emma Watson and Ben Stiller, Owen Wilson and Johnny Depp, Helena Bonham Carter'
from collections import Counter
from itertools import combinations
from itertools import chain

data_act_comb = data.copy()
data_act_comb['cast_together']=data_act_comb.castlist.apply(lambda x: list(combinations(x, 2)))
#создал новый объект Series
castlist_comb1 = data_act_comb.cast_together
#конвертировал его в лист состоящий только из пар актеров
castlist_comb2 = list(chain(*castlist_comb1))

#посчитал самые встречающиеся пары из листа

Counter(castlist_comb2).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

In [37]:
#создали объект Counter 
pairs = Counter()
#заполняем его парами актеров из фильмов
for i in range(0,len(data)):
    artists = data.castlist[i] #добавили список всех акторов по каждому из фильмов
    for j in list(combinations(artists, 2)):  #создали все возможные комбинации 2-х актеров в каждом фильме и 
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [32]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'16': 'Matt Damon',
 '1': '723. Pirates of the Caribbean: On Stranger Tides',
 '20': '2014',
 '22': '450',
 '21': 'September',
 '15': 'Chris Hemsworth'}

In [42]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [518]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,directorlist,castlist,production_companies_list
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Action, Adventure, Science Fiction, Thriller]",[Colin Trevorrow],"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Universal Studios, Amblin Entertainment, Lege..."
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,"[Action, Adventure, Science Fiction, Thriller]",[George Miller],"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Village Roadshow Pictures, Kennedy Miller Pro..."
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,"[Adventure, Science Fiction, Thriller]",[Robert Schwentke],"[Shailene Woodley, Theo James, Kate Winslet, A...","[Summit Entertainment, Mandeville Films, Red W..."
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,"[Action, Adventure, Science Fiction, Fantasy]",[J.J. Abrams],"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Lucasfilm, Truenorth Productions, Bad Robot]"
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,"[Action, Crime, Thriller]",[James Wan],"[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Universal Pictures, Original Film, Media Righ..."